/.gradle
/.idea
/build
*.iml
*.ipr
*.iws
/crowdin.yml
/testing
dist
node_modules
.DS_Store
*.patch
.crowdin
out
*.tgz
coverage
*.lcov
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.eslintcache
.cache
*.tsbuildinfo
packages/npm/*/bin/
!packages/npm/cli/bin/
docs/superpowers/
