name: publish-npm

on:
  push:
    tags:
      - '*'
    branches:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: ./gradlew shadowJar
      - run: mkdir dist
      - run: mv build/libs/crowdin-cli-*.jar dist/crowdin-cli.jar

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: sudo npm install jdeploy -g
      - run: npm install
      - run: jdeploy install
      - run: crowdin -V

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
